# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/

# TypeORM
/dist/
/*.js
/*.js.map
/*.d.ts

# Logs
logs
*.log

# User-specific files
npm-debug.log
yarn-error.log
